<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/lista.css">

    <title>LisToHome</title>
</head>

<%- include('./partials/navbar.ejs') %>



    <div class="lista">
        <% produtos.forEach(produto=>{ %>

            <h1>
                <%= produto.marca_produto%>:
                    <%= produto.nome_produto%> |
                        R$<%= produto.preco_produto%> |
                            Quantidade: <%= produto.qtd_produto%>


            </h1>




            <% })%>

                <a href="/perfil/cadastrar/produto">
                    <h2>Adicionar Produto</h2>
                </a>
    </div>

    <%- include('./partials/footer.ejs') %>